.container {
  margin-top: 30px;
}


.searchresults {
    border: lightgray;
    border-width: thin;
    border-style: solid;
    padding-top: 0px;
    margin-top: 5px;
}

.textsearchbox {
	width: 100%;
}

td > em {
	font-weight: bold;
}